body {
    background: #000;
    background: -moz-linear-gradient(-45deg,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(135deg,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
    background-attachment: fixed;
    color: #fff;
    line-height: 1.6;
    font-size: 16px;
    padding: 20px;
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 90px;
    padding-bottom: 200px;
}

a, a:hover, a:visited, a:focus {
    color: #fff;
}

h1 {
    font-size: 1em;
    text-transform: uppercase;
}

.navbar {
    background: rgba(0,0,0,0.1);
    background: -moz-linear-gradient(-45deg,  rgba(69,72,77,0.9) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(69,72,77,0.9) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(135deg,  rgba(69,72,77,0.9) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
    background-attachment: fixed;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0.5em;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
    z-index: 1000;
}

.brand-logo {
    background: url(../img/otto-books-white-logo.svg) no-repeat 0 -18px;
    background-size: 100%;
    width: 63px;
    height: 38px;
    float: left;
    position: relative;
    background-size: cover;
}

.brand-logo .books {
    position: absolute;
    bottom: -4px;
    text-transform: uppercase;
    text-align: center;
    font-size: 9px;
    display: block;
    width: 100%;
    letter-spacing: 0.5em;
    padding-left: 0.25em;
}
.brand-logo .otto {
  display: none;
}
.search label {
    display: none;
}

.search-dropdown {
    float: left;
    display: block;
    height: 41px;
    overflow: hidden;
    width: 13%;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1px rgba(255,255,255,0.3) solid;
    border-right: 0;
    font-size: 1.1em;
    padding: 0;
    padding-left: 10px;
    color: #ccc;
    margin-left: 20px;
    display: none;
}

.search-dropdown select {
    background: transparent;
    border: none;
    height: 42px;
    width: 95%;
    padding: 5em 10em;
    color: #ccc;
    font-size: 0.7em;
}
.search-dropdown select:focus {
    outline:none;
}

.search-text input {
    float: left;
    display: block;
    background-color: transparent;
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-bottomright: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px rgba(255,255,255,0.3) solid;
    padding: 1em;
    width: 55%;
    font-size: 0.8em;
    color: #fff;
    display: none;
}

.search-text input:focus {
    background-color: rgba(255,255,255,0.1);
    border: 1px rgba(255,255,255,0.7) solid;
    outline:none;

}

.search button {
    display:none;
}

@media (min-width: 700px) {
  .navbar {
    padding: 1em;
  }
  .brand-logo{
    background-position-y: -29px;
    height: 55px;
    width: 100px;
  }
  .brand-logo .books {
    bottom: -8px;
    font-size: 12px;
  }
  .search-dropdown {
    height: 56px;
  }
  .search-dropdown select {
    height: 60px;
    font-size: 1.1em;
  }
  .search-text input {
    font-size: 1.1em;
  }
}

.genre-cover{
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.genre-cover li {
    display: block;
    list-style: none;
    border-bottom: 1px solid #ccc;
}
.genre-cover li:last-child {
    border-bottom: none;
}
.genre-cover li a {
    padding: 1em;
    text-decoration: none;
    display: block;
}


.genre {
    width: 100%;
    margin-bottom: 1em;
}
.book {
    height: 330px;
    width: 300px;
    float: left;
    margin: 0.5em;
    overflow: hidden;
    padding: 10px;
}
.book a, .book a:hover, .book a:visited, .book a:focus {
    text-decoration: none;
}
.book .cover {
    background: #45484d;
    background: -moz-linear-gradient(-45deg,  #45484d 0%, #000000 100%);
    background: -webkit-linear-gradient(-45deg,  #45484d 0%,#000000 100%);
    background: linear-gradient(135deg,  #45484d 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );

    width: 300px;
    height: 300px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.4);
}

.book .title {
    text-align: center;
    height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cover-lg {
  width: 100%;
}
@media (min-width: 410px) {
  .cover-lg {
    float: right;
    width: 40%;
    margin-left: 1em;
    margin-bottom: 1em;
  }
}

.player {
    background: rgba(0,0,0,0.1);
    background: -moz-linear-gradient(-45deg, rgba(69,72,77,0.9) 0%,rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(69,72,77,0.9) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(-45deg, rgba(69,72,77,0.9) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
    background-attachment: fixed;
    position: fixed;
    width: 100%;
    height: 87px;
    bottom: 0;
    left: 0;
    padding: 1em;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 -1px 43px 0 rgba(0,0,0,0.5);
    z-index: 1100;
}

.player .cover-art {
    float: left;
}

.player .cover-art img {
  display: none;
}

.player #current_track {
    width: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (min-width: 410px) {

  .player .cover-art img {
      display: block;
      width: 100px;
      bottom: 10px;
      position: absolute;
      left: 10px;
  }
  .player #current_track {
      width: 40%;
      left: 120px;
  }
}

@media (min-width: 600px) {
  .player #current_track {
      width: 60%;
  }
}


.player #current_time {
    display: inline;
}
.player #current_time::after {
    content: ' / ';
}
.player #duration {
    display: inline;
}
.player .time-display{
    position: absolute;
    top: 10px;
    right: 57px;
}

.player .button-container {
  position: absolute;
  bottom: 10px;
  right: 50px;
}

.player button {
  display: inline-block;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background-color: rgba(255,255,255,0.2);
  border: 1px rgba(255,255,255,0.7) solid;
  padding: 1em;
  font-size: 0em;
  height: 50px;
  width: 50px;
  color: transparent;
}

.player button:focus {
    outline:none;
}
.player #slider{
    background-color: rgba(255,255,255,0.1);
    width: 100%;
    height: 4px;
    position: absolute;
    top: -3px;
    left: 0;
}
.player #slider .progress{
    background-color: rgb(255, 202, 0);
    width: 0%;
    height: 0.25em;
}

#previous{
    background: url(../img/player/previous.svg) no-repeat center;
    background-size: 50%;
    width: 35px;
    height: 35px;
}
#rewind{
    background: url(../img/player/rewind.svg) no-repeat center;
    background-size: 50%;
    width: 40px;
    height: 40px;
}
#playpause{
    background: url(../img/player/pause.svg) no-repeat center rgba(255, 202, 0, 0.55);
    background-size: 50%;
    width: 65px;
    height: 65px;
    border-color: rgb(255, 202, 0);
}

#playpause.play{
    background: url(../img/player/play.svg) no-repeat center;
    background-size: 50%;
    border: 1px rgba(255,255,255,0.7) solid;
}

#stop{
    background: url(../img/player/stop.svg) no-repeat center ;
    background-size: 50%;
}
#fastforward{
    background: url(../img/player/fastforward.svg) no-repeat center ;
    background-size: 50%;
    width: 40px;
    height: 40px;
}
#next{
    background: url(../img/player/next.svg) no-repeat center ;
    background-size: 50%;
    width: 35px;
    height: 35px;
}

.track.active {
    background-color: rgba(255, 202, 0, 0.4);;
    color: #fff;
}

/********** animation styles ************/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.delay-1-sec {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}
.delay-2-sec {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}


@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}
